:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  line-height: 3rem;
  font-size: 3.2em;
}

ul {
  margin: 0;
  padding: 1rem;
}

li {
  list-style: none;
  text-align: start;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.go-somewhere {
  display: flex;
  justify-content: space-evenly;
}

.go-somewhere > li {
  float: right;
}

.go-somewhere > li:hover {
  transform: scale(1.3);
}

.hero-section {
  width: auto;
  margin-top: 1rem;
  padding: 2rem;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.test-card {
  width: 60%;
  padding: 1rem;
  text-align: center;
}

.trip-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.trip-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr 0.2fr;
  gap: 0.5rem;
  min-width: 300px;
  max-width: 30vw;
  background-color: rgba(25, 119, 25, 0.231);
  border-radius: 0.5rem;
  padding: 0.6rem;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.trip-thumbnail {
  max-width: 200px;
  min-width: 100%;
  grid-row: span 2;
  justify-self: stretch;
}

.trip-book-button {
  margin-top: 2rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 660px) {
  .testimonials {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trip-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .trip-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
  }
  .trip-name {
    text-align: center;
    max-width: 80vw;
  }
  .trip-description {
    max-width: 80vw;
    text-align: center;
  }
  .trip-thumbnail {
    min-width: 200px;
  }
}
